pandas
pyspark
faker
black
flake8
pytest
pymongo
jupyter
python-dotenv
google-cloud-firestore
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
apache-airflow[gcp]
apache-airflow
apache-airflow-providers-google
firebase_admin